/* * {
    background-color: #f5f3f4;
} */

.banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    max-width: 100%;
    /* background: black; */
    background: linear-gradient(
      40deg,
      rgba(0, 0, 0, 0.7777485994397759) 20%,
      rgba(255, 255, 255, 0) 90% );
  }
  h2 {
    color: whitesmoke;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-stretch: semi-expanded;
    font-size: 30px;
    
  }
   .hero {
    display: grid;
     /* grid-template-columns: 0.5fr; 
    grid-template-rows: 350px;  */
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    align-content: center;
    justify-content: center;
  }  
.herotext {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    align-items: center;
    /* margin-left: 15px;
    margin-right: 15px; */
  }
.bannerimage {
    display: grid;
    
    object-fit: cover; 

  }

  .heroimage {
    grid-area: 1 / 1 / 2 / 2;
    
  }

  header {
      margin-bottom: 20px;
  }

article {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 20px;
}

section {
   margin-right: auto;
   margin-left: auto;
    width: 60%;
    align-items: center;
}
.contact {
    align-content: center;
    
  }
  address {
    display: flex;
    background-color: #grey;
    flex-direction: row;
    border: 3px solid black;
    border-radius: 36px;
  }
  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .contact address a:hover {
    background-size: 100% 100%;
    color: white;
  }

  .uk-card {
      border: solid 3px black;
      border-radius: 36px;
      padding: 30px;
  }
  h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }
  .me {
    padding: 15px;
  }
  .contact h6 {
    margin: auto;
    width: 10%;
    color: black;
    border: 5px solid black;
    border-radius: 36px;
    line-height: 3;
    font-size: large;
    text-align: center;
    min-width: 50px;
    
  }
  
  address a {
    color: #13293d;

    padding: 14px 20px;
    text-decoration: none;
    transition: all 2s ease-in;
  
  }